body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.row {
    margin-top: 10px;
}

.login-form {
    float: right;
    margin: 10px;
    text-align: right;
    width: 400px;
    overflow-x: hidden !important;
    margin-right: 25px;
}

.list-group-box {
    /*height: 450px;
    overflow-y: scroll;
    border: 1px solid #cccccc;
    border-radius: 4px;*/
}

.stock-request-row {
    position: relative;
}

    .stock-request-row .btn-lnk-stock {
        position: absolute;
        top: 4px;
        left: 5px;
        z-index: 9999;
    }

.bootstrap-checkbox {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 13px;
    border: 1px solid #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .bootstrap-checkbox i {
        position: absolute;
        left: -1px;
        top: -2px;
    }

.k-animation-container {
    direction: rtl !important;
}
