html {
    font: 15px Tahoma;
}

body{
    font-family:Tahoma;
}
table, td
{
    font: 13px Tahoma;
}

#outerWrapper{
  overflow: hidden;
}

.k-pager-wrap
{
    clear:none;
}

.k-no-data
{
    height:100px;
}

.k-floatwrap:after, .k-slider-items:after, .k-grid-toolbar:after{
    clear:none;
}

th {
    font-size: 1em;
}