@{
    ViewBag.Title = "بازنگری درخواست ها";
}

<div class="container request-review-page">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-lg-3 k-rtl">
            <div class="row">
                <input type="text" class="form-control stock-term" name="term" placeholder="فروشگاه، شماره درخواست" /><br />
                <div class="list-group-box stock-requests">
                    <div class="list-group" data-bind="foreach: stockRequests">
                        <div class="stock-request-row">
                            <a href="#" class="list-group-item" data-bind="text: StoreName + '، ' + RequestNumber + '، ' + RequestDate,
                                   css: { active:  $data == $root.chosenStoreRequest() },
                                   click: $root.refreshStoreRequestInfo">
                            </a>
                            <button data-bind="attr: { 'data-id': StoreId }" type="button" class="btn btn-success btn-lnk-stock" aria-label="Left Align">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9" data-bind="visible: shouldShowRequestInfo">
            <div class="row">
                <div class="col-md-12">
                    <div class="request-review-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/x-kendo-template" id="template">
        <div>
            <div class="request-details-grid"></div>
        </div>
    </script>

    <script>
        $(function () {
            ko.applyBindings(new ReviewProductRequestViewModel(), $('.request-review-page')[0]);
        });
    </script>
}