@{
    ViewBag.Title = "بازنگری درخواست ها";
}

<div class="container request-review-page k-rtl">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="stock-requests-grid"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" data-bind="visible: shouldShowRequestInfo">
            <div class="row">
                <div class="col-md-12">
                    <div class="request-review-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/x-kendo-template" id="template">
        <div>
            <div class="request-details-grid"></div>
        </div>
    </script>

    <script>
        $(function () {
            ko.applyBindings(new reviewProductRequestViewModel(), $('.request-review-page')[0]);
        });
    </script>
}