@{
    ViewBag.Title = "سوابق درخواست ها";
}

<div class="container store-request-history-page">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="stores">
                    <select class="form-control" data-bind="options: stores,
                       optionsText: 'Name',
                       value: chosenStore,
                       optionsCaption: 'انتخاب نمایید...'"></select>
                </div>
            </div>
            <hr />
            <div class="row">
                <input type="text" name="term" class="form-control product-term " placeholder="نام محصول" disabled /><br />
                <div class="list-group-box products">
                    <div class="list-group" data-bind="foreach: products">
                        <a href="#" class="list-group-item" data-bind="text: ProductName,
                                   css: { active:  $data == $root.chosenProduct() },
                                   click: $root.refreshHistory">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 k-rtl">
            <div class="history-grid"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            ko.applyBindings(new ProductHistoryManagerViewModel(), $('.store-request-history-page')[0]);
        });
    </script>
}