<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=AnatoliCloudRepository;Persist Security Info=True;User ID=sa;Password=Sa123456;" />-->
    <add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=79.175.166.186,3341;Initial Catalog=AnatoliCloudRepository;Persist Security Info=True;User ID=sa;Password=sa@vn@87134;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>