@{
    ViewBag.Title = "تغییر رمز عبور";
}

<div class="container change-password-page k-rtl">
    <h1>@ViewBag.Title</h1>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <input class="form-control old-pass" type="password" data-bind="value: oldPass" placeholder="رمزعبور قدیم" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control new-pass" type="password" data-bind="value: newPass" placeholder="رمزعبور جدید" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="password" data-bind="value: confirmNewPass" placeholder="تکرار رمزعبور" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" data-bind="click: onChangePass" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> ثبت
            </button>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            ko.applyBindings(new changePasswordViewModel(), $('.change-password-page')[0]);
        });
    </script>
}