@{
    ViewBag.Title = "تخصیص انبار";
}

<div class="container users-stocks-page k-rtl">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-11">
                    <div class="users">
                        <select class="form-control" data-bind="options: users,
                       optionsText: 'userName',
                       value: chosenUser,
                       optionsCaption: 'انتخاب نمایید...'"></select>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-success" data-bind="click: saveUsersStocks">
                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="list-group-box products">
                    <div class="list-group" data-bind="foreach: stocks">
                        <a href="#" class="list-group-item" data-bind="text: stockName,
                                    css: { active:  $root.isInChosenStocks($data) },
                                    click: $root.addChosenStocks">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            ko.applyBindings(new UsersStocksViewModel(), $('.users-stocks-page')[0]);
        });
    </script>
}