<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.101.99\vnlite;Initial Catalog=riyaliq;Persist Security Info=True;User ID=pmc;Password=totalcommander;" />
    <add name="SQLiteDb" connectionString="Data Source=C:\Program Files (x86)\VN\VN Application Server\VNAppServerConfiguration.s3db;Version=3;" />
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>

  <log4net>

    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString,log4net" value="c:\VN\log\%date{yyyy-MM-dd}\output.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date|%-5level|%logger|%thread| %message %exception%n" />
      </layout>
    </appender>

    <appender name="asyncForwarder" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
      <bufferSize value="100" />
      <appender-ref ref="rollingFile" />
    </appender>

    <root>
      <priority value="ALL" />
      <appender-ref ref="asyncForwarder" />
    </root>

  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="ServerURI" value="http://localhost:59822/" />
    <add key="OwnerKey" value="79A0D598-0BD2-45B1-BAAA-0A9CF9EFF240" />
    <add key="DataOwner" value="3EEE33CE-E2FD-4A5D-A71C-103CC5046D0C" />
    <add key="DataOwnerCenter" value="3EEE33CE-E2FD-4A5D-A71C-103CC5046D0C" />
    <add key="ServiceName" value="VNApplicationServerV2"/>
    <add key="DisplayName" value="VN Application Server V2"/>
  </appSettings>
</configuration>
