@{
    ViewBag.Title = "Index";
}
<link href="~/Content/KendoUI/examples.css" rel="stylesheet" />

<div id="example">
    <div class="box">
        <h4>Information</h4>
        <p>
            The Upload is able to upload files out-of-band using the
            HTML5 File API with fallback for legacy browsers.
        </p>
        <p>
            You need to configure save action that will receive
            the uploaded files.
            An optional remove action is also available.
        </p>
    </div>

    <div>
        <div class="demo-section k-content k-rtl">
            <label>کد محصول:</label>
            <input type="text" id="token" class="form-control" />
            <input name="files" id="files" type="file" class="form-control" />
        </div>
    </div>

    <hr />
    <img src="http://localhost:59822/api/v0/imageManager/image?filename=test.jpg&token=25aa3216-3025-441a-b328-0b30fe3c5268&width=1024&height=768" alt="image" />

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#files").kendoUpload({
                async: {
                    saveUrl: "http://localhost:59822/api/v0/imageManager/save",
                    removeUrl: "http://localhost:59822/api/v0/imageManager/remove",
                    autoUpload: true
                },
                multiple: true,
                upload: function (e) {
                    debugger
                    e.data = { token: $("#token").val() };
                }
            });
        });
    </script>
}