@{
    ViewBag.Title = "";
    Layout = null;
}
<style type="text/css">
    .user-edit-page input[type=text],
    .user-edit-page input[type=password],
    .user-edit-page input[type=number] {
        max-width: 97% !important;
    }
</style>

<div class="container user-edit-page k-rtl">
    <form>
        <div class="row">
            <div class="col-md-1">نام:</div>
            <div class="col-md-10">
                <input type="hidden" id="userId" name="userId" value="@ViewBag.userId" />
                <input type="text" class="form-control" name="fullName" data-bind="value: fullName" title="*" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">نام کاربری:</div>
            <div class="col-md-10">
                <input type="hidden" name="userId" value="@ViewBag.userId" />
                <input type="text" class="form-control"  id="userName" name="userName" data-bind="value: userName" title="*" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">ایمیل:</div>
            <div class="col-md-10">
                <input type="text" class="form-control" id="email" name="email" data-bind="value: email" title="*" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">موبایل:</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="mobile" data-bind="value: mobile" title="*" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">رمز عبور:</div>
            <div class="col-md-10">
                <input type="password" class="form-control" name="password" data-bind="value: password" title="*" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">تکرار رمز عبور:</div>
            <div class="col-md-10">
                <input type="password" class="form-control" name="confirmPassword" data-bind="value: confirmPassword" title="*" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 "></div>
            <div class="col-md-9">
                <button type="button" class="btn btn-success btn-save">
                    <span class="glyphicon glyphicon-save"></span> ثبت
                </button>
                <button type="button" class="btn btn-warning btn-cancel">
                    <span class="glyphicon glyphicon-remove"></span> انصراف
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        ko.applyBindings(new userEditManagerViewModel(), $(".user-edit-page")[0]);
    });
</script>