@{
    ViewBag.Title = "";
    Layout = null;
}

<div class="container user-edit-page k-rtl">
    <form>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        ko.applyBindings(new userEditManagerViewModel(), $(".user-edit-page")[0]);
    });
</script>