@{
    ViewBag.Title = "مدیریت کاربران";
}

<div class="container user-management-page k-rtl">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="user-management-grid"></div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="toolbar-template">
    <div class="toolbar">
        <button type="button" data-bind="click: addUser" class="k-button k-button-icontext add-user">
            <span class="k-icon k-add"></span>افزودن
        </button>
    </div>
</script>

@section scripts
{
    <script>
        $(function () {
            ko.applyBindings(new userManagementViewModel(), $('.user-management-page')[0]);
        });
    </script>
}