@{
    ViewBag.Title = "مجوز دسترسی";
}

<div class="container users-permissions-page k-rtl">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-11">
                    <div class="users">
                        <select class="form-control" data-bind="options: users,
                       optionsText: 'userName',
                       value: chosenUser,
                       optionsCaption: 'انتخاب نمایید...'"></select>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-success" data-bind="click: saveUserPermissions">
                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="list-group-box permissions-tree-view"></div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            ko.applyBindings(new UserPermissionsViewModel(), $('.users-permissions-page')[0]);
        });
    </script>
}