@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container resource-management-page">
    <h2>Resources</h2>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div id="resource-management-grid"></div>
        </div>
    </div>
    <script type="text/x-kendo-template" id="toolbar-template">
        <div class="toolbar">
            <button type="button" data-bind="click: addResource" class="k-button k-button-icontext add-user">
                <span class="k-icon k-add"></span>افزودن
            </button>
        </div>
    </script>
    <div class="hide">
        <div id="add-resource-window" style="padding:-5px;" data-bind="kendoWindow: { isOpen: showResourceDialog, width: 400, resizable:false, title: 'Resource', position: { top: '20%', left:'30%' } }">
            <div class="row">
                <div class="form-group">
                    <label for="appName">From App:</label>
                    <select id="appName" class="form-control" data-bind="options: appList, optionsText: 'applicationName', value: selectedApp"></select>
                </div>
                <div class="form-group">
                    <label for="moduleName">From Module:</label>
                    <select id="moduleName" class="form-control" 
                            data-bind="options: moduleList, optionsText: 'moduleName', value: selectedModule"></select>
                </div>
                <div class="form-group">
                    <label for="resourceName">Resource Name:</label>
                    <input class="form-control" id="resourceName" name="resourceName" type="text" 
                           data-bind="value: resourceName" 
                           placeholder="نام منبع" />
                </div>
                <div class="form-group">
                    <button type="button" data-bind="click: resourceSave" class="btn btn-success">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> ثبت
                    </button>
                    <button type="button" data-bind="click: resourceCancel" class="btn btn-warning">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> انصراف
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            ko.applyBindings(new resourcesViewModel(), $('.resource-management-page')[0]);
        });
    </script>
}