<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <!--<add name="Default" connectionString="Data Source=.;Initial Catalog=AnatoliIdentity;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=79.175.166.186,3341;Initial Catalog=AnatoliCloudRepository;Persist Security Info=True;User ID=sa;Password=sa@vn@87134;" />-->
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.101.99\vnlite;Initial Catalog=riyaliq;Persist Security Info=True;User ID=pmc;Password=totalcommander;" />
    <add name="Anatoli" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=AnatoliCloudRepository;Persist Security Info=True;User ID=sa;Password=sa@123;" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
