<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="SQLiteDb" connectionString="Data Source=C:\Program Files (x86)\VN\VN Application Server\WcfAppServerConfiguration.s3db;Version=3;"/>
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		
	<supportedRuntime version="v2.0.50727"/></startup>
</configuration>
