@{
    ViewBag.Title = "انبارها";
}

<div class="container stocks-page k-rtl">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="stocks-grid"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            ko.applyBindings(new stocksManagerViewModel(), $(".stocks-page")[0]);
        });
    </script>
}