@{
    ViewBag.Title = "";
    Layout = null;
}

<style type="text/css">
    .product-rule-edit-page input[type=text],
    .product-rule-edit-page input[type=number] {
        max-width: 97% !important;
    }

    .k-widget.k-autocomplete,
    .k-widget.k-autocomplete input[type=text] {
        max-width: 100% !important;
        width: 100%;
        height: 43px;
    }

        .k-widget.k-autocomplete input[type=text] {
            height: 36px;
        }
</style>

<div class="container product-rule-edit-page k-rtl">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2"><h4>نام:</h4></div>
                    <div class="col-md-9">
                        <input type="text" id="ruleName" name="ruleName" class="form-control" required />
                        <input type="hidden" id="ruleId" name="ruleId" value="@ViewBag.ruleId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><h4>نوع محصول:</h4></div>
                    <div class="col-md-9">
                        <input id="productType" class="form-control" style="width:100%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><h4>شیوه سفارش:</h4></div>
                    <div class="col-md-9">
                        <input id="reOrderCalcType" class="form-control" style="width:100%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><h4>از تاریخ:</h4></div>
                    <div class="col-md-9">
                        <input type="text" id="fromDate" name="fromDate" class="form-control fromDate" value="@ViewBag.pToday" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><h4>تا تاریخ:</h4></div>
                    <div class="col-md-9">
                        <input type="text" id="toDate" name="toDate" class="form-control toDate" value="@ViewBag.pNextMonth" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><h4>نوع درخواست بازنگری محصول:</h4></div>
                    <div class="col-md-9">
                        <input id="stockProductRequestRuleType" class="form-control" style="width:100%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><h4>نوع قانون:</h4></div>
                    <div class="col-md-9">
                        <input id="stockProductRequestRuleCalcType" class="form-control" style="width:100%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><h4>تعداد محصول:</h4></div>
                    <div class="col-md-9">
                        <input type="number" id="quantity" name="quantity" class="form-control" style="width:100%" value="0" min="0" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><h4>بر اساس:</h4></div>
                    <div class="col-md-9">
                        <select id="via-filter" class="form-control" style="width:100%">
                            <option value="0">انتخاب نمایید</option>
                            <option value="1">توزیع کننده</option>
                            <option value="2">نام محصول</option>
                            <option value="3">گروه اصلی محصول</option>
                        </select>
                    </div>
                </div>
                <div class="row hide" data-via-filter="1">
                    <div class="col-md-2 "><h4>توزیع کننده:</h4></div>
                    <div class="col-md-9">
                        <input id="suppliers" class="form-control" style="width:100%" />
                    </div>
                </div>
                <div class="row hide" data-via-filter="2">
                    <div class="col-md-2 "><h4>نام محصول:</h4></div>
                    <div class="col-md-9">
                        <input id="product" class="form-control" required />
                    </div>
                </div>
                <div class="row hide" data-via-filter="3">
                    <div class="col-md-2 "><h4>گروه اصلی محصول:</h4></div>
                    <div class="col-md-9">
                        <input id="main-product-group" class="form-control" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 "></div>
                    <div class="col-md-9">
                        <button type="button" class="btn btn-success btn-save">
                            <span class="glyphicon glyphicon-save"></span> ثبت
                        </button>
                        <button type="button" class="btn btn-warning btn-cancel">
                            <span class="glyphicon glyphicon-remove"></span> انصراف
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        ko.applyBindings(new productRequestRuleEditManagerViewModel(), $(".product-rule-edit-page")[0]);

        $(".fromDate, .toDate").persianDatepicker({
            cellWidth: 48,
            cellHeight: 32,
            fontSize: 16,
            isRTL: true
        });        
    });
</script>