@{
    ViewBag.Title = "محصولات";
}

<div class="container products-page k-rtl">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="stores">

                <div class="list-group" data-bind="foreach: stores">
                    <a href="#" class="list-group-item" data-bind="text: stockName,
                                   css: { active:  $data == $root.chosenStore() },
                                   click: $root.refreshProducts">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="products-grid"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            ko.applyBindings(new stockProductManagerViewModel(), $(".products-page")[0]);
        });
    </script>
}