@{
    ViewBag.Title = "قوانین کالاها";
}

<div class="container product-rules-page k-rtl">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="product-rules-grid"></div>
        </div>
    </div>
    @*<div class="edit-window"></div>*@
</div>


<script type="text/x-kendo-template" id="toolbar-template">
    <div class="toolbar">
        <button type="button" data-bind="click: addProductRequestRule" class="k-button k-button-icontext add-product-rules">
            <span class="k-icon k-add"></span>افزودن
        </button>
    </div>
</script>

@section scripts
{
    <script>
        $(function () {
            ko.applyBindings(new productRequestRulesManagerViewModel(), $(".product-rules-page")[0]);
        });
    </script>
}